/*global style*/
.active{
  background-color: rgb(67, 138, 230) !important;
}
.active > a{
  color: white !important;
}
.add-btn{
  padding: 15px;
  border: none;
  border-radius: 360px;
  background-color: #4B8DF9;
  color: white;
  cursor: pointer;
}
.card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 10px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.input{
  background-color: rgb(246, 244, 244);
  border: none;
  border-top: solid rgb(211, 207, 207) 1px !important;
  border-radius: 360px;
  text-align: center;
  padding: 5px;
  width: 97%;
  margin: auto;
}
.search-txt{
  border-radius: 360px;
  border: none;
  background-color: rgb(246, 244, 244);
  padding: 10px;
  text-align: center;
}
.submit-btn, .update-btn{
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: #4B8DF9;
  color: white;
  cursor: pointer;
  width: 100%
}
.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

/* Dropdown*/
.dropbtn {
  background-image: url('../svg/setting.svg');
  object-fit: contain;
  /* width: 20px;
  height: 20px; */
  padding: 10px 0 10px 35px;
  background-repeat: no-repeat;
  /* background-color: #4CAF50; */
  /* color: white; */
  /* padding: 16px; */
  /* font-size: 16px; */
  border: none;
  z-index: 2;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none !important;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 30px;
  margin-top: -40px;
  padding: 10px;
}

.dropdown-content button {
  /* color: black; */
  padding: 5px 5px;
  /* text-decoration: none; */
  display: block;
}

/* .dropdown-content a:hover {background-color: #ddd;} */

.dropdown:hover .dropdown-content {display: block !important;}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.main-content{
  margin-top: 10%;
  width: 100%;
}
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 30px;
  border: 1px solid #888;
  border-radius: 10px;
}
li{
  display: inline-block;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -15%;
  margin-right: -10%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.warning{
  border: solid red 1px;
}
/*Pagination*/
    .pagination li {
     /* display:inline-block; */
      padding:5px;
    }
    .pagination > li{
      /* background-color: white !important; */
      border: solid #888 1px;
      border-radius: 5px;
      padding: 8px;
      margin: 5px 5px 0 5px;
    }
    .pagination{
      background-color: white !important;
    }
    a{
      text-decoration: none !important;
      /* padding: 5px; */
    }
    a.page{
      padding: 20px 10px 20px 10px;
      /* margin: 20px; */
    }
    /* Table */
  .table-container{
      display: flex;
      align-items: center;
      justify-content: center;
  }
    tr:nth-child(odd) {
      background-color: #edebeb;
    }